.people-list-wrapper {
  width: 40vw;
  height: 50vh;
  margin-left: 2%;
  h2 {
    font-size: $l-size;
  }
}

.people-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
    li {
      margin: 7px;
      width: 13vw;
      border-bottom: 3px solid black;
        p:first-child {
          font-size: 2rem;
        }
        p b {
          color: rgb(54, 101, 255);
        }
  }
}

@media screen and (min-width: 425px){
  .people-list-wrapper {
    width: 50vw;
    height: 100%;
    h2 {
      font-size: $m-size;
    }
  }
  .people-list { 
    margin: 0;
    padding: 0;
      li {
        width: 40vw;
        margin: 2px;
        border-bottom-width: 2px;
      p:first-child, p{
        font-size: $s-size;
      }
    }
  }
}

@media screen and (min-width: 768px){
  .people-list-wrapper {
    width: 50vw;
    height: 80vh;
    h2 {
      font-size: $m-size;
    }
  }
  .people-list li {
    width: 20vw;
    margin: 2px;
    p:first-child, p{
      font-size: $s-size;
    }
  }
}

@media screen and (min-width: 1024px){
  .people-list-wrapper {
    width: 50vw;
    height: 80vh;
    h2 {
      font-size: $l-size;
    }
  }
  .people-list li {
    width: 16vw;
    margin: 2px;
    p:first-child, p{
      font-size: $m-size;
    }
  }
}

@media screen and (min-width: 1440px){
  .people-list-wrapper {
    height: 70vh;
  }
}
